# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,codeblocks
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,codeblocks
*.exe
*.o
*.out
repo_github/
.cph/